@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Songs</h1>

    <table id="songTable" class="display">
        <a type="button" class="btn btn-primary" id="button_add_song" asp-controller="Song" asp-action="Create">Add Song</a>
        <thead>
            <tr>
                <th>Lire</th>
                <th>Titre</th>
                <th>Artiste</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Player.Models.Song song in ViewData["songs"] as List<Song>)
            {
                <tr>
                    <td class="SongItemPlay" data-path="@song.PathFileSong" data-title="@song.Title" data-artist="@song.Artist"><i class="material-icons">play_arrow</i></td>
                    <td class="SongItem">@song.Title</td>
                    <td class="SongItem">@song.Artist</td>
                    <td class="SongItem">@song.Genre</td>
                    <td class="d-flex float-right">
                        <!-- Go to detail -->
                        <a hidden type="button" class="goDetail" asp-controller="Song" asp-action="Detail" asp-route-id="@song.SongId">Detail</a>
                        <i class="material-icons btnSongIcons btnSong btnDetail">info</i>
                        <!-- Add in a playlist-->
                        <a hidden type="button" class="goAddPlaylist" asp-controller="Song" asp-action="AddInPlaylist" asp-route-id="@song.SongId">Add Song</a>
                        <i class="material-icons btnSongIcons btnSong btnAdd">add</i>
                        <!-- Delete song -->
                        <form method="post" action="@Url.Action("Delete", "Song")">
                            <input type="hidden" name="songId" value="@song.SongId" />
                            <i class="material-icons btnSongIcons btnSongDelete">clear</i>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#songTable').DataTable(
            );
        });
    </script>
</div>